## Preprocessing

In [43]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [44]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
del application_df['EIN']
del application_df['NAME']

In [45]:
application_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [46]:
# Determine the number of unique values in each column.
application_df.count()

APPLICATION_TYPE          34299
AFFILIATION               34299
CLASSIFICATION            34299
USE_CASE                  34299
ORGANIZATION              34299
STATUS                    34299
INCOME_AMT                34299
SPECIAL_CONSIDERATIONS    34299
ASK_AMT                   34299
IS_SUCCESSFUL             34299
dtype: int64

In [47]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [48]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9','T13','T12','T2','T25','T14','T29','T15','T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [49]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [50]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().index

Index(['C1000', 'C2000', 'C1200', 'C3000', 'C2100', 'C7000', 'C1700', 'C4000',
       'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230',
       'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800',
       'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210',
       'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0',
       'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600',
       'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700',
       'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732',
       'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150'],
      dtype='object')

In [51]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = ['C7000', 'C1700', 'C4000',
       'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230',
       'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800',
       'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210',
       'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0',
       'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600',
       'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700',
       'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732',
       'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [52]:
# Convert categorical data to numeric with `pd.get_dummies`
application_encoded = pd.get_dummies(application_df[['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION','INCOME_AMT', 'SPECIAL_CONSIDERATIONS']])
application_df = pd.concat([application_df, application_encoded], axis = 1)
application_df = application_df.drop(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION','INCOME_AMT', 'SPECIAL_CONSIDERATIONS'], axis=1)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [53]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(['IS_SUCCESSFUL'], 1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

<ipython-input-53-08cbcac1b0f3>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop(['IS_SUCCESSFUL'], 1).values

In [54]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [55]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 3

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu")
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, activation="sigmoid")
)

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 8)                 352

 dense_7 (Dense)             (None, 3)                 27

 dense_8 (Dense)             (None, 1)                 4

=================================================================
Total params: 383
Trainable params: 383
Non-trainable params: 0
_________________________________________________________________

In [56]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [57]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.6211 - accuracy: 0.6634
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5959 - accuracy: 0.6806
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5793 - accuracy: 0.7030
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5752 - accuracy: 0.7099
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5730 - accuracy: 0.7121
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5721 - accuracy: 0.7123
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5639 - accuracy: 0.7138
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5600 - accuracy: 0.7179
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5590 - accuracy: 0.7250
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5584 - accuracy: 0.7248
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5575 - accuracy: 0.7250
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5571 - accuracy: 0.7253
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5568 - accuracy: 0.7253
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5571 - accuracy: 0.7256
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5567 - accuracy: 0.7259
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5564 - accuracy: 0.7261
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5563 - accuracy: 0.7267
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5561 - accuracy: 0.7262
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5559 - accuracy: 0.7259
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5557 - accuracy: 0.7262
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5556 - accuracy: 0.7259
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5555 - accuracy: 0.7263
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5553 - accuracy: 0.7268
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5552 - accuracy: 0.7266
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5550 - accuracy: 0.7264
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5550 - accuracy: 0.7264
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5549 - accuracy: 0.7271
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5548 - accuracy: 0.7264
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5546 - accuracy: 0.7271
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5546 - accuracy: 0.7274
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5546 - accuracy: 0.7269
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5548 - accuracy: 0.7268
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5543 - accuracy: 0.7268
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5542 - accuracy: 0.7276
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7279
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5538 - accuracy: 0.7287
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5536 - accuracy: 0.7279
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5534 - accuracy: 0.7265
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5536 - accuracy: 0.7278
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5534 - accuracy: 0.7276
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5532 - accuracy: 0.7282
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5535 - accuracy: 0.7280
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5530 - accuracy: 0.7280
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5531 - accuracy: 0.7284
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5529 - accuracy: 0.7277
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5530 - accuracy: 0.7282
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5529 - accuracy: 0.7280
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5529 - accuracy: 0.7282
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5529 - accuracy: 0.7284
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5526 - accuracy: 0.7287
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5527 - accuracy: 0.7284
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5529 - accuracy: 0.7283
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5525 - accuracy: 0.7284
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5528 - accuracy: 0.7284
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5524 - accuracy: 0.7287
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5521 - accuracy: 0.7288
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5527 - accuracy: 0.7280
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5526 - accuracy: 0.7286
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5525 - accuracy: 0.7289
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7288
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5525 - accuracy: 0.7282
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5525 - accuracy: 0.7291
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5523 - accuracy: 0.7281
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5523 - accuracy: 0.7285
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5521 - accuracy: 0.7277
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5524 - accuracy: 0.7283
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5521 - accuracy: 0.7283
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5520 - accuracy: 0.7287
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7283
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7288
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5521 - accuracy: 0.7290
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5519 - accuracy: 0.7283
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5522 - accuracy: 0.7283
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5518 - accuracy: 0.7287
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5517 - accuracy: 0.7286
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7285
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7283
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5517 - accuracy: 0.7286
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7288
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5517 - accuracy: 0.7285
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7291
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7292
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5517 - accuracy: 0.7280
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7291
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5515 - accuracy: 0.7290
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7292
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7284
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5514 - accuracy: 0.7291
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5511 - accuracy: 0.7286
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5514 - accuracy: 0.7292
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5515 - accuracy: 0.7293
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5509 - accuracy: 0.7285
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5511 - accuracy: 0.7292
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5513 - accuracy: 0.7291
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7285
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7294
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5511 - accuracy: 0.7290
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5513 - accuracy: 0.7294
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7291
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5513 - accuracy: 0.7292

In [58]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5580 - accuracy: 0.7238 - 762ms/epoch - 3ms/step
Loss: 0.5580258369445801, Accuracy: 0.7238484025001526

In [59]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')