## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [9]:
other_name_list = application_df['NAME'].value_counts()[100:]
other_name_list.index

Index(['DEPARTMENT OF NEVADA VETERANS OF FOREIGN WARS OF THE U S INC',
       'CALIFORNIA STATE CHAPER WOMENS COUNCIL OF REALTORS',
       'CALIFORNIA STATE UNIVERSITY EMPLOYEES UNION',
       'NATIONAL INSTITUTE OF GOVERNMENTAL PURCHASING INC',
       'EXECUTIVE WOMENS GOLF ASSOCIATION INC',
       'TAU KAPPA EPSILON FRATERNITY INC',
       'CALIFORNIA HIGHWAY PATROL EXPLORER PROGRAM',
       'AMERICAN COLLEGE OF HEALTHCARE EXECUTIVES',
       'AMERICAN STUDENT DENTAL ASSOCIATION',
       'THE OREGON STATE FEDERATION OF GARDEN CLUBS INC',
       ...
       'PSSST', 'EASTERN OREGON WORKFORCE INVESTMENT BOARD',
       'OUR PERFECT STORM', 'RED SHOE PROJECT INC',
       'CHRISTIAN DEAF FELLOWSHIP', 'ST LOUIS SLAM WOMENS FOOTBALL',
       'AIESEC ALUMNI IBEROAMERICA CORP', 'WEALLBLEEDRED ORG INC',
       'AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI',
       'WATERHOUSE CHARITABLE TR'],
      dtype='object', length=19468)

In [4]:
application_df['NAME'].value_counts()

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [54]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
del application_df['EIN']
#del application_df['NAME']

In [10]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
names_to_replace = other_name_list.index
# Replace in dataframe
for app in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                           22863
PARENT BOOSTER USA INC                                           1260
TOPS CLUB INC                                                     765
UNITED STATES BOWLING CONGRESS INC                                700
WASHINGTON STATE UNIVERSITY                                       492
                                                                ...
DAUGHTERS OF ESTHER FELLOWSHIP INTERNATIONAL MINISTRIES INC        24
INTERNATIONAL FEDERATION OF FLY FISHERS INC                        24
FUTURE FARMERS OF AMERICA STATE ASSOCIATIONS & LOCAL CHAPTER       24
DEPARTMENT OF WYOMING VFW AUXILIARY                                23
BETTER WORLD FUND                                                  23
Name: NAME, Length: 101, dtype: int64

In [55]:
application_df.columns

Index(['NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [56]:
# Determine the number of unique values in each column.
application_df.count()

NAME                      34299
APPLICATION_TYPE          34299
AFFILIATION               34299
CLASSIFICATION            34299
USE_CASE                  34299
ORGANIZATION              34299
STATUS                    34299
INCOME_AMT                34299
SPECIAL_CONSIDERATIONS    34299
ASK_AMT                   34299
IS_SUCCESSFUL             34299
dtype: int64

In [57]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9','T13','T12','T2','T25','T14','T29','T15','T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [59]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [60]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().index

Index(['C1000', 'C2000', 'C1200', 'C3000', 'C2100', 'C7000', 'C1700', 'C4000',
       'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230',
       'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800',
       'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210',
       'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0',
       'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600',
       'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700',
       'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732',
       'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150'],
      dtype='object')

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = ['C7000', 'C1700', 'C4000',
       'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230',
       'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800',
       'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210',
       'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0',
       'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600',
       'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700',
       'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732',
       'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
application_encoded = pd.get_dummies(application_df[['NAME','APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION','INCOME_AMT']])
application_df = pd.concat([application_df, application_encoded], axis = 1)
application_df = application_df.drop(['NAME','APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION','INCOME_AMT', 'SPECIAL_CONSIDERATIONS'], axis=1)
application_df.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,10520599,1,5000,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,10531628,1,108590,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,10547893,1,5000,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,10553066,1,6692,1,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,10556103,1,142590,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [14]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(['IS_SUCCESSFUL'], 1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

<ipython-input-14-08cbcac1b0f3>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop(['IS_SUCCESSFUL'], 1).values

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu")
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, activation="sigmoid")
)

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                1440

 dense_1 (Dense)             (None, 10)                110

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 1,561
Trainable params: 1,561
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5261 - accuracy: 0.7400
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4680 - accuracy: 0.7702
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4627 - accuracy: 0.7717
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4602 - accuracy: 0.7740
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4588 - accuracy: 0.7745
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4578 - accuracy: 0.7734
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4575 - accuracy: 0.7750
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4567 - accuracy: 0.7748
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4565 - accuracy: 0.7748
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4555 - accuracy: 0.7761
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4555 - accuracy: 0.7752
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4548 - accuracy: 0.7769
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4546 - accuracy: 0.7765
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4540 - accuracy: 0.7769
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4540 - accuracy: 0.7773
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4537 - accuracy: 0.7784
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4534 - accuracy: 0.7783
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4529 - accuracy: 0.7767
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4527 - accuracy: 0.7786
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4529 - accuracy: 0.7785
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4521 - accuracy: 0.7777
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4518 - accuracy: 0.7784
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4518 - accuracy: 0.7776
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4517 - accuracy: 0.7776
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4513 - accuracy: 0.7779
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4511 - accuracy: 0.7789
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4507 - accuracy: 0.7779
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4502 - accuracy: 0.7800
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4504 - accuracy: 0.7794
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4500 - accuracy: 0.7790
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4499 - accuracy: 0.7791
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4497 - accuracy: 0.7795
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4496 - accuracy: 0.7791
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4495 - accuracy: 0.7807
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4494 - accuracy: 0.7802
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4487 - accuracy: 0.7795
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4491 - accuracy: 0.7801
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4489 - accuracy: 0.7804
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4483 - accuracy: 0.7805
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4484 - accuracy: 0.7798
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4479 - accuracy: 0.7803
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4484 - accuracy: 0.7799
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4476 - accuracy: 0.7813
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4481 - accuracy: 0.7796
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4479 - accuracy: 0.7799
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4478 - accuracy: 0.7799
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4475 - accuracy: 0.7803
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4476 - accuracy: 0.7805
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4472 - accuracy: 0.7818
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4469 - accuracy: 0.7806
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4472 - accuracy: 0.7819
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4465 - accuracy: 0.7807
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4467 - accuracy: 0.7808
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4464 - accuracy: 0.7809
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4466 - accuracy: 0.7807
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4464 - accuracy: 0.7811
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4463 - accuracy: 0.7814
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4462 - accuracy: 0.7825
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4463 - accuracy: 0.7811
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4463 - accuracy: 0.7813
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4459 - accuracy: 0.7818
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4459 - accuracy: 0.7837
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4462 - accuracy: 0.7820
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4458 - accuracy: 0.7816
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4457 - accuracy: 0.7816
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4458 - accuracy: 0.7827
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4455 - accuracy: 0.7828
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4450 - accuracy: 0.7823
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4453 - accuracy: 0.7824
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4452 - accuracy: 0.7821
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4451 - accuracy: 0.7823
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4452 - accuracy: 0.7825
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4449 - accuracy: 0.7834
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4445 - accuracy: 0.7829
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4448 - accuracy: 0.7823
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4444 - accuracy: 0.7832
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4446 - accuracy: 0.7821
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4445 - accuracy: 0.7822
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4445 - accuracy: 0.7810
Epoch 80/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4443 - accuracy: 0.7816
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4443 - accuracy: 0.7828
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4439 - accuracy: 0.7830
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4444 - accuracy: 0.7847
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4439 - accuracy: 0.7830
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4442 - accuracy: 0.7831
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4440 - accuracy: 0.7833
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4435 - accuracy: 0.7825
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4442 - accuracy: 0.7837
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4432 - accuracy: 0.7837
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4439 - accuracy: 0.7831
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4441 - accuracy: 0.7834
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4435 - accuracy: 0.7832
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4433 - accuracy: 0.7835
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4436 - accuracy: 0.7835
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4432 - accuracy: 0.7827
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4430 - accuracy: 0.7835
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4433 - accuracy: 0.7834
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4434 - accuracy: 0.7831
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4434 - accuracy: 0.7835
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4429 - accuracy: 0.7845

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4726 - accuracy: 0.7714 - 424ms/epoch - 2ms/step
Loss: 0.4726186990737915, Accuracy: 0.7714285850524902

In [20]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')